.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange: #f9ab00;
  --primary-black: rgba(255, 255, 255, 0);
}

boby{
  font-family: 'Roboto Condensed', sans-serif;
}

/* Navbar customizations */
.logo {
  width: 8.25rem;
}

/* Menu links*/
nav a .nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.8rem;
}
nav ul li{
  text-transform: uppercase;
}

.navbar-nav >li > a{
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-black);
}

.navbar-brand{
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 3px solid var(--primary-orange);
}